.mycontainer{
    /* background-color: blue; */
    position: absolute;
    width: 83%;
    left: 16%;
    top: 56px;
    color: rgb(16, 0, 0);

}
.add-teacher{
    background-color:#c4d7d0;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
   text-align: center;
   color: rgb(36, 3, 3);
   margin-left: 5px;
}